body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
    padding: 0 2rem 0 2rem ;
}

/* Navbar */

.navbar{
    padding:1rem;
    background-color: white;
} 

.fa-compass{
    color: #fe424d;
    font-size: 2rem; 
}

.nav-link{
    color: #222222 !important;
}

/* Footer */

.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials i{
    margin:0rem 0.5rem 0rem 0.5rem;
    font-size: 1.2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

/* Cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}



/* Card overlay effects */
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 40vh;
}

.show-btns{
    display: flex;
}

.show-card{
    padding: 0;
    line-height: 2rem;
}

/* Map */
#map {
    width: 400px;
    height: 400px;
}

#custom-marker {
    background-image: url(https://tiles.locationiq.com/static/images/marker.png);
    background-size: cover;
    width: 3rem;
    height: 3rem;
    /* transform: translateY(-200%); */
    cursor: pointer;
}